// Color Variables
$primary-color: #41228e;
$secondary-color: #2bfdff;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
$primary-font: 'Zen Kurenaido', sans-serif;
$secondary-font: 'Zen Kurenaido', sans-serif;
$icon-font: 'themify';