body{
    width: 100%;
}
.enable-check{
    width: 100%;
}
.check-label{
    display: flex;
    flex-wrap: wrap;
    height: 30px;
}
.check{
    height: 100%;
}
#checkbox{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.number{
    width: 40px;
}
.enter-button{
    width: 100%;
}
#output{
    overflow-x: auto;
    width: 100%;
    display: flex;
    justify-self: center;
}
.grid{
    display: grid;
    height: 560px;
}
.agent{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;

    animation-name: show;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.agent-image{
    width: 100%;
}
.agent-name{
    width: 100%;
    font-size: 26px;
}
.agent-role{
    width: 100%;
    font-size: 16px;
}